		<div>
		    <style>
		    .btn_search{
			    padding: 0 4px;
				line-height: 23px;
				border-width: 2px;
				font-size: 12px;
				float: right;
				width: 40%;
		    }
		    .full{
		    	width: 100% !important;
		    }
		    label.error
	        {
	            color:Red;
	            font-size:13px;
	            margin-left:5px;
	            padding-left:16px;
	            background:url("/assets/users/img/error.png") left no-repeat;
	        }
	        .textarea_pub {
				width: 100%;
				height: 70px;
			}
		    </style>
			<!-- condition start -->
			<div class="row">
				<form id="f_con" action="">
					<div class="col-lg-2 col-sm-6 col-xs-12">
						<input name="stu.sName" class="full" type="text" placeholder="学生姓名" />
					</div>
					<div class="col-lg-2 col-sm-6 col-xs-12">
						<input name="stu.sNo" class="full" type="text" placeholder="学号" />
					</div>
					
					<div class="col-lg-2 col-sm-6 col-xs-12 center">
				 		<button id="btn_filter" class="btn btn_search btn-purple" type="button">筛选</button>
				 	</div>
				</form>
			<!-- condition end -->
			</div>
		</div>
	
		<!-- 数据table -->
		<table id="tb_org" lay-filter="tb_org">
		</table>
		<div class="vspace-12-sm"></div>



								
<script th:inline="none">
var validator;


//格式YYYY/MM/DD HH:mm:ss
function dateFormat(v, fmt){
	if(v==null||''===v) return '';
	return moment(v).format(fmt);
}

/**
 * 添加机构
 */
function add(layer){
	if(validator) validator.resetForm();
	$('#f_org_edited')[0].reset();
	$('#org_add_id').css('display','block');
	$('#orgIdTxt').html('添加学生信息');
	$('#sCreateDate').datepicker("update",new Date());
	$('#sBirthDate').datepicker("update",moment().subtract(6, 'years').format('YYYY-MM-DD'));
	$('#sIntakeDate').datepicker("update",new Date());
	$('#sNote').html("");
	
	var idx=layer.open({
        type: 1 //此处以iframe举例
        ,title: ''
        ,area: '80%'
        ,shadeClose:false
        ,btn: ['保存', '取消'] //只是为了演示
        ,btnAlign: 'c'
        ,content: $('#org_editor')
        ,move :'.page-header'
        ,yes: function(index, layero){
        	if(!$("#f_org_edited").valid()) {
        		return;
        	}
        	var org=$.serializeObject($('#f_org_edited'));
        	if(saveOrg(org, true)){
        		layer.close(idx);
        		layui.use(['table'],function(){
        			var table=layui.table;
        			table.reload('tb_org');
        		})
        	}
        }
        ,btn2: function(){
          layer.close(idx);
        }
      });
}

/**
 * 编辑用户信息
 */
function edit(layer, rObj){
	var row=rObj.data;
	if(!row) return;
	if(validator) validator.resetForm();
	$('#f_org_edited')[0].reset();
	$('#org_add_id').css('display','block');
	$('#orgIdTxt').html('学生信息变更');
	$('#sNo').val(row.sNo);
	$('#sName').val(row.sName);
	$('#sCreateDate').datepicker("update",new Date(row.sCreateDate));
	$('#sBirthDate').datepicker("update",new Date(row.sBirthDate));
	$('#sIntakeDate').datepicker("update",new Date(row.sIntakeDate));
	if(row.sOuttakeDate){
		$('#sOuttakeDate').datepicker("update",new Date(row.sOuttakeDate));
	}
	$('#sSex').select2("val",[row.sSex]);
	$('#sTel').val(row.sTel);
	$('#sAddr').val(row.sAddr);
	$('#sNote').html(row.sNote);
	
	var idx=layer.open({
        type: 1 //此处以iframe举例
        ,title: ''
        ,area: '80%'
        ,shadeClose:false
        ,btn: ['保存', '取消'] //只是为了演示
        ,btnAlign: 'c'
        ,content: $('#org_editor')
        ,move :'.page-header'
        ,yes: function(index, layero){
        	if(!$("#f_org_edited").valid()) {
        		return;
        	}
        	var org=$.serializeObject($('#f_org_edited'));
        	org=diffObj(row, org);
			org.sNo=row.sNo;
			console.log(org);
			if(Object.keys(org).length<=1){
				layer.alert("学科信息未发生变化");
				return;
			}
        	if(saveOrg(org,false)){
       			rObj.update(org);
        		layer.close(idx);
        	}
        }
        ,btn2: function(){
          layer.close(idx);
        }
      });
}

/**
 * 保存用户信息
 */
function saveOrg(org,newer){
	var flag=false;
	var url='/coll/stu/save';
	if(newer) url='/coll/stu/add';
	$.ajax({
		url: url,
		type: 'post',
		data: org,
		dataType: 'json',
		async: false,
		success:function(response){
			layui.use('layer', function(){
			  var layer = layui.layer;
			  layer.alert(response.msg);
			});
			if('0'==response.code) {
				flag=true;
			}
		}
	});
	return flag;
}

$(function(){
	/**
	 * input的检验
	 */
	 validator=$("#f_org_edited").validate({
		rules: {
			orgId: { required: true,
				remote:{
					url: '/idcs/user/orgExists',
					type: 'POST',
					data: {
                        orgId: function () { return $("#orgId").val(); },
                    },
					dataType: 'json',
					dataFilter:function(response){
						var code=response.code;
						if('1'===code) {
							return true; //true表示填写信息有误
						} else {
							return false;
						}
					}
				}
			},
			orgName: { required: true },
			createTime: { required: true, date:true },
			actived: { required: true }
		},
		//自定义错误提示信息
		messages: {
			orgId:{
				required:'必填',
				remote:'ID已存在'
			},
			rDescription: {
				maxlength: jQuery.validator.format("最多填写{0}个字符")
			}
		}
	});
	
	
	
	layui.use(['table', 'layer'],function(){
		var table=layui.table;
		var layer=layui.layer;
		
		table.render({
		    elem: '#tb_org'
		    ,method: 'post'
		    ,url: '/coll/stu/list' //数据接口
		    ,defaultToolbar: []
		    ,toolbar: '#toolbar'
		    ,page: {    	//开启分页
		    	limit: 5
		    }
		    ,cols: [[ //表头
		      {field: 'sCreateDate', title: '录入时间', minWidth:80, align:'center', templet:function(r){return dateFormat(r.sCreateDate,'YYYY-MM-DD');}}
		      ,{field: 'sNo', title: '学号', minWidth:80, align:'center'}
		      ,{field: 'sName', title: '姓名', minWidth:80, align:'center'}
		      ,{field: 'sAge', title: '年龄', minWidth:80, align:'right'}
		      ,{field: 'sSex', title: '性别', minWidth:80, align:'center'}
		      ,{field: 'sBirthDate', title: '出生年月', minWidth:80, align:'center', templet:function(r){return dateFormat(r.sBirthDate,'YYYY-MM-DD');}}
		      ,{field: 'sIntakeDate', title: '入学时间', minWidth:80, align:'center', templet:function(r){return dateFormat(r.sIntakeDate,'YYYY-MM-DD');}}
		      ,{field: 'sOuttakeDate', title: '离校时间', minWidth:80, align:'center', templet:function(r){return dateFormat(r.sOuttakeDate,'YYYY-MM-DD');}}
		      ,{field: 'sTel', title: '联系方式', minWidth:100, align:'center'} 
		      ,{field: 'sAddr', title: '住址', minWidth:180, align:'left'} 
		      ,{field: 'sNote', title: '备注', minWidth:180, align:'left'} 
		      ,{field: '', title: '操作', toolbar: '#barDemo', align:'center'}
		    ]]
			,response: {
			      statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
		    }
		    ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		      return {
		        "code": res.code, //解析接口状态
		        "msg": res.msg, //解析提示文本
		        "count": res.data.totalRows, //解析数据长度
		        "data": res.data.rows //解析数据列表
		      };
		    }
		  });
	
		  //监听工具条
		  table.on('tool(tb_org)', function(obj){
		    var data = obj.data;
		    if(obj.event === 'edit'){
		    	edit(layer, obj);
		    }
		  });
		  
		  //监听工具栏
		  table.on('toolbar(tb_org)', function(obj){
			  if('newOrg'===obj.event){
				  add(layer);
			  }
		  });
		
		  $('#btn_filter').bind('click', function(e){
			  var infos=$.serializeObject($('#f_con'));
			  table.reload('tb_org', {
				  //设定异步数据接口的额外参数，任意设
				  where: infos
			   }); //只重载数据
		  });
	});
	
});
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="newOrg">添加学生信息</button>
  </div>
</script>


<div id="org_editor" class="page-content row" style="display:none;overflow-x:hidden;overflow-y:auto; ">
	
	<!-- /section:settings.box -->
	<div class="page-header">
		<h1>
			<p id="orgIdTxt">学科信息变更</p>
			<!-- 
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				常规变更
			</small>
			 -->
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<form class="form-horizontal" role="form" id="f_org_edited">
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div id="org_add_id" class="form-group">
			 		<label for="sNo" class="col-xs-3 col-sm-3 control-label no-padding-right">学号</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 from-inline">
						<input type="text" id="sNo" name="sNo" class="full" placeholder="学号">
					</div>
			 	</div>
			 	
			 	<!-- #section:elements.form -->
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sName">姓名</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<input type="text" id="sName" name="sName" class="full" placeholder="姓名" />
					</div>
				</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sCreateDate">录入日期</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<!-- #section:plugins/date-time.datepicker -->
						<div class="input-group">
							<input readOnly class="form-control date-picker full" id="sCreateDate" name="sCreateDate" type="text" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sBirthDate">出生日期</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<!-- #section:plugins/date-time.datepicker -->
						<div class="input-group">
							<input readOnly class="form-control date-picker full" id="sBirthDate" name="sBirthDate" type="text" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sIntakeDate">入学日期</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<!-- #section:plugins/date-time.datepicker -->
						<div class="input-group">
							<input readOnly class="form-control date-picker full" id="sIntakeDate" name="sIntakeDate" type="text" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				
			</div><!-- /.col -->
			
			
			<div class="col-lg-6 col-sm-6 col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sOuttakeDate">离校日期</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<!-- #section:plugins/date-time.datepicker -->
						<div class="input-group">
							<input readOnly class="form-control date-picker full" id="sOuttakeDate" name="sOuttakeDate" type="text" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				<!-- #section:elements.form -->
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sSex">性别</label>

					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<select class="chosen-select form-control" id="sSex" name="sSex"></select>
					</div>
				</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
			 	
			 	
			 	<!-- #section:elements.form -->
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sTel">联系方式</label>
					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<input type="text" id="sTel" name="sTel" class="full" placeholder="联系方式" />
					</div>
				</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
				<!-- #section:elements.form -->
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sAddr">住址</label>

					<div class="col-xs-9 col-sm-9 col-lg-5 ">
						<input type="text" id="sAddr" name="sAddr" class="full" placeholder="住址" />
					</div>
				</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-3 control-label no-padding-right" for="sNote">备注</label>

					<div class="col-xs-9 col-sm-9 col-lg-5">
						<textarea id="sNote" name="sNote" class="textarea_pub"/>
					</div>
				</div>
				
				<div class="space-4" />
			</div><!-- /.col -->
		</form>
		<script>
		$(function(){
			$('.date-picker').datepicker({
				autoclose: true,
				todayHighlight: true
			});
			$('#sSex').select2({
			     data: [{id:'M', text:'男'},{id:'F', text:'女'},{id:'O', text:'其它'}],
			     minimumResultsForSearch: Infinity,
				 language: "zh-CN",
			     placeholder: "选择性别",
				 allowClear: false,
				 multiple: false,
			     escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
				 width: '100%',
				 dropdownParent: $('#w')
			});
		});
		</script>
	</div><!-- /.row -->
</div><!-- /.page-content -->

<!-- 设置select2 下拉框问题 -->
<div id="w" style="position:absolute;z-index:19892018">
</div>
